@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&family=Ubuntu:wght@400;700&display=swap');

/* Variables */
:root {
    --main-color: #C45508;
    --body-color: #4e4e4e;
    --heading-color: #1d1d1d;
}

/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styles */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
    color: var(--body-color);
    line-height: 1.6;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--body-color);
    transition: opacity 300ms ease-in-out;
}

a:hover {
    opacity: 70%;
}

i {
    color: var(--main-color);
}

ul {
    list-style: none;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 8%);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: var(--heading-color);
}

h1 {
    font-size: 7.2rem;
}

h2 {
    font-size: 5.6rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

h6 {
    font-size: 1.6rem;
    font-weight: 400;
}

.highlight {
    color: var(--main-color);
}

/* Navigation */
nav {
    padding: 32px 0;
}

.logo {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.nav-link {
    color: var(--body-color);
}

.active {
    color: var(--main-color);
    font-weight: 600;
}

.active:hover {
    opacity: 100%;
}

/* Contact form */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.btn {
    align-self: flex-end;
    padding: 16px 48px;
    border: none;
    font-family: inherit;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.8rem;
    border-radius: 10px;
    transition: background-color 300ms ease-in-out;
}

.btn:hover {
    background-color: var(--heading-color);
}

label {
    display: block;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 4px;
}

input, textarea {
    padding: 8px;
    width: 100%;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 20%);
    font-family: 'Space Grotesk', sans-serif;
}

input:focus, textarea:focus {
    outline: 1px solid var(--main-color);
}

/* Footer */
footer {
    margin-top: 52px;
    background: #ececec;
    padding: 72px 0;
    text-align: center; 
}

.social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* Case study template */
.tag {
    padding: 8px 16px;
    background: var(--main-color);
    color: #fff;
    border-radius: 10px;
}

.divider {
    height: 2px;
    background: var(--main-color);
}

/* Contact page form */ 
.form-container {
    max-width: 700px;
    margin: auto;
}

.contact-header {
    font-size: 5.6rem;
}

/* Responsive design */
@media (max-width: 500px) {
    .contact-header {
        font-size: 4.0rem;
    }
}